<!-- Header Section -->
<header class="header">
  <div class="header-container">
    <img
      src="tirupati_temple.png"
      alt="Watermark Left"
      class="watermark-left"
    />
    <img src="Logo2.png" alt="Logo" class="logo" />
    <h1>స్టాంఫర్డ్ తెలుగు సంఘం</h1>
    <img
      src="Buddhastatue1_Vijaywada_DJI_0150Edited_1600x.webp"
      alt="Watermark Right"
      class="watermark-right"
    />
  </div>
  <h2>Welcome to Stamford Telugu Community</h2>
  <p>Your hub for Telugu culture and community events.</p>
</header>

<!-- Second Navigation Bar -->
<nav class="second-nav">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li><a routerLink="/events">Events</a></li>
    <li><a routerLink="/members">Members</a></li>
    <li><a routerLink="/contact-us">Contact</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
