/* You can add global styles to this file, and also import other style files */
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #333;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
